@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.africanParliamentFront  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 70vh;
  align-content: center;
}

.africanParliamentFront  > div{
  flex: 1;
}

.africanParliamentFront  .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.africanParliamentFront  .graphs,
.africanParliamentFront  .description {
  font-family: 'Merriweather', serif;
}

.africanParliamentFront  .descriptionNumber {
  color: #dd6452;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 8px;
}

.africanParliamentFront  .graphDescription,
.africanParliamentFront  .descriptionText {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 300px;
}

.africanParliamentFront  .descriptionText span {
  color: #dd6452;
}

.africanParliamentFront  .graphs {
  display: flex;
  justify-content: space-between;
}

.africanParliamentFront  .graphs span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.africanParliamentFront  .graphItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}