@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.participantReligionFPE {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 70vh;
  align-content: center;
}

.participantReligionFPE > div{
  flex: 1;
}

.participantReligionFPE .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.participantReligionFPE .graphs,
.participantReligionFPE .description {
  font-family: 'Merriweather', serif;
}

.participantReligionFPE .descriptionNumber {
  color: #dcdb52;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 8px;
}

.participantReligionFPE .descriptionText span {
  color: #dcdb52;
  font-weight: bold;
}

.participantReligionFPE .graphDescription,
.participantReligionFPE .descriptionText,
.participantReligionFPE .graphItem span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 300px;
}

.participantReligionFPE .graphItem span {
  text-align: center;
}

.participantReligionFPE .graphs {
  display: flex;
  justify-content: space-between;
}

.participantReligionFPE .graphs span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.participantReligionFPE .graphItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}