@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.participantReligionFPMA {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 70vh;
  align-content: center;
}

.participantReligionFPMA > div{
  flex: 1;
}

.participantReligionFPMA .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.participantReligionFPMA .graphs,
.participantReligionFPMA .description {
  font-family: 'Merriweather', serif;
}

.participantReligionFPMA .descriptionNumber {
  color: #dd6452;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 8px;
}

.participantReligionFPMA .descriptionText span {
  color: #dd6452;
  font-weight: bold;
}

.participantReligionFPMA .graphDescription,
.participantReligionFPMA .descriptionText,
.participantReligionFPMA .graphItem span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 300px;
}

.participantReligionFPMA .graphItem span {
  text-align: center;
}

.participantReligionFPMA .graphs {
  display: flex;
  justify-content: space-between;
}

.participantReligionFPMA .graphs span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.participantReligionFPMA .graphItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}