@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.groupEvangelicWhiteMale {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 70vh;
  align-content: center;
}

.groupEvangelicWhiteMale > div{
  flex: 1;
}

.groupEvangelicWhiteMale .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.groupEvangelicWhiteMale .graphs,
.groupEvangelicWhiteMale .description {
  font-family: 'Merriweather', serif;
}

.groupEvangelicWhiteMale .descriptionNumber {
  color: #ffffff;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 8px;
}

.groupEvangelicWhiteMale .graphDescription,
.groupEvangelicWhiteMale .descriptionText,
.groupEvangelicWhiteMale .graphItem span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 300px;
}

.groupEvangelicWhiteMale .graphItem span {
  text-align: center;
}

.groupEvangelicWhiteMale .graphs {
  display: flex;
  justify-content: space-between;
}

.groupEvangelicWhiteMale .graphs span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.groupEvangelicWhiteMale .graphItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}