@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.catholicParliamentFront {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 70vh;
  align-content: center;
}

.catholicParliamentFront > div{
  flex: 1;
}

.catholicParliamentFront .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.catholicParliamentFront .graphs,
.catholicParliamentFront .description {
  font-family: 'Merriweather', serif;
}

.catholicParliamentFront .descriptionNumber {
  color: #6aac99;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 8px;
}

.catholicParliamentFront .graphDescription,
.catholicParliamentFront .descriptionText {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 300px;
}

.catholicParliamentFront .descriptionText span {
  color: #6aac99;
}

.catholicParliamentFront .graphs {
  display: flex;
  justify-content: space-between;
}

.catholicParliamentFront .graphs span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.catholicParliamentFront .graphItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}